    /* style.css */

    /* Reset default browser styles */
    body,
    h1,
    p {
        margin: 0;
        padding: 0;
    }

    /* Set font and background color */
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    /* Add some padding to the container */
    .container {
        padding: 20px;
    }



    /* Style headings */
    h1 {
        text-decoration: underline;
        font-style: italic;
        font-weight: bold;
        color: white;
        margin-bottom: 50px;
        z-index: 1;
    }

    h2 {
        font-family: cursive;
        font-size: 24px;
        color: whitesmoke;
        margin-bottom: 20px;
    }

    /* Style paragraphs */
    p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }

    /* Background Image Main */
    .background-image2 {
        background-image: url("./img/table.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh
    }

    /* Style the button */

    .btn {
        margin-right: 10px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 25px;
        font-size: 14px;
        cursor: pointer;
    }


    .button:hover {
        background-color: #555;
    }

    #addRecipeModal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        margin-left: 50%;
        margin-top: 5%;
        overflow: auto;
    }

    .modal-content {
        background-color: beige;
    }

    .modal-body {
        padding: 20px;
        background-color: beige;
    }

    main {
        border-radius: 25px;
        padding: 10px 0;

    }

    footer {
        background-color: #333;
        border-radius: 25px;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footerText {
        color: white;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
    }

    .footerText p {
        color: white;
        font-size: 16px;
        text-align: center;
    }

    .card {
        background-image: url("./img/utensils.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 45%;
        border-radius: 15px;
        margin-bottom: 5px;

    }

    .background-image {
        background-image: url("./img/wood.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }