    /* style.css */

    /* Reset default browser styles */
    body, h1, p {
        margin: 0;
        padding: 0;
    }

    /* Set font and background color */
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    /* Add some padding to the container */
    .container {
        padding: 20px;
    }

    /* Style headings */
    h1 {
        text-decoration: underline;
        font-style: italic;
        font-weight: bold
        color: #333;
        margin-bottom: 10px;
    }

    /* Style paragraphs */
    p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }

    /* Header Background Pic */ 
    header {
        background-image: url("images.jpg");
    }
    /* Header Background Image */
    header {
        background-image: url("/Users/joshuapatton/bootcamp/Project-1/assets/img/images.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

   